.page-not-found-section {
  padding-top: 100px;
  padding-bottom: 99px;
  max-width: 600px;
  flex: 100%;
  text-align: center;
  @media (max-width: $mobile) {
    padding-top: 55px;
    padding-bottom: 60px;
  }
  @media (max-width: 360px) {
    padding-top: 43px;
  }
  &__img {
    width: 490px;
    height: 202px;
    @media (max-width: $mobile) {
      width: 100%;
      height: 100%;
    }
    use {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    color: #000;
    text-align: center;
    font-family: 'Effra';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 78px;
    @media (max-width: $mobile) {
      margin-top: 20px;
      font-size: 24px;
    }
    @media (max-width: 360px) {
    margin-top: 10px;
  }
  }
  &__description {
    margin-top: 15px;
    color: #000;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }
  &__button {
    margin-top: 25px;
    font-size: 20px;
    padding: 20px;
    line-height: 1.2;
    max-width: 330px;
    width: 100%;
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
}
