@import './UI/input.scss';

.information-inputs-block {
  max-width: 920px;
  display: grid;
  column-gap: 32px;
  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
  .input-title {
    color: rgba($color: $black, $alpha: 0.5);
    font-family: 'OpenSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .input-block{
    margin-top: 5px;
    max-width: none;
  }
  &__mini-inputs-block {
    max-width: 444px;
    max-width: none;
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: $mobile) {
      column-gap: 15px;
    }
  }
}
