@import './product-pack.scss';

.personal-pack-text-setion {
  &__container {
    max-width: 1556px;
  }
  &__title-block {
    position: relative;
    padding-left: 60px;
    @media (max-width: $mobile) {
      padding-left: 0px;
    }
  }

  &__title {
    font-family: 'Effra';
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 682px;
    letter-spacing: -0.1px;
    @media (max-width: $tablet) {
      font-size: 43.5px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
      max-width: 250px;
    }
    @media (max-width: 320px) {
      max-width: 180px;
    }
  }
  &__sub-title {
    margin-top: 60px;
    font-family: 'Effra';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 563px;
    letter-spacing: 0.01px;
    @media (max-width: $mobile) {
      font-size: 20px;
      margin-top: 30px;
    }
  }

  &__description {
    margin-top: 22px;
    font-family: 'OpenSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    max-width: 900px;
    letter-spacing: 0.01px;
    @media (max-width: $mobile) {
      font-size: 14px;
      margin-top: 18px;
      line-height: 1.774;
    }
  }
}
.personal-pack-setion {
  &__container {
    max-width: 1556px;
    @media (max-width: $mobile) {
      background-color: $grayish_white;
    }
  }
  &__inner {
    position: relative;
    background-color: $grayish_white;
    padding: 60px 60px 50px;
    border-radius: 16px;
    @media (max-width: $tablet) {
      padding: 40px 30px 50px;
    }
    @media (max-width: $mobile) {
      background-color: none;
      padding: 60px 0px 60px;
    }
    .product-pack-block {
      margin-top: 50px;
      @media (max-width: $mobile) {
        margin-top: 30px;
      }
    }
  }
  &__title-h2 {
    font-family: 'Effra';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
    &__container {
      max-width: 1556px;
    }
    @media (max-width: $mobile) {
      font-size: 20px;
      letter-spacing: -0.2px;
    }
  }
  &__button {
    padding: 16px 30px;
    margin-top: 52px;
    color: $whiteColor;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.63418;
    max-width: 330px;
    width: 100%;
    @media (max-width: $mobile) {
      max-width: none;
      padding: 16px;
      margin-top: 30px;
      font-size: 14px;
    }
  }
}

.one-two-circle {
  position: absolute;
  top: 78px;
  right: -238px;
  width: 279px;
  height: fit-content;
  z-index: -1;
  @media (max-width: 850px) {
    top: 95px;
  }
  @media (max-width: $mobile) {
    width: 140px;
    height: 70px;
    right: -107px;
    top: 75px;
  }
  use {
    fill: none;
    stroke: #f6906e;
    stroke-width: 58px;
    width: 279px;
    height: 141px;
  }
}

.one-fourth-circle {
  position: absolute;
  top: -143px;
  right: 33.6%;
  width: 158px;
  height: 158px;
  transform: rotate(-90deg);
  z-index: -1;
  @media (max-width: 1200px) {
    top: -150px;
  }
  @media (max-width: 850px) {
    right: 15%;
    
  }
  @media (max-width: $mobile) {
    width: 76px;
    height: 76px;
    top: -65px;
    right: 10%;
  }
  @media (max-width: 360px) {
    right: 11%;
  }
}

.circle {
  position: absolute;
  top: 0px;
  right: 22.5%;
  width: 122px;
  height: 122px;
  fill: #ffca78;
  transform: translate(0, -50%);
  z-index: 0;
  @media (max-width: $tablet) {
    right: 4.3%;
  }
  @media (max-width: $mobile) {
    width: 61px;
    height: 61px;
    right: 4.3%;
  }
}
