.product-box {
  max-width: 325px;
  background-color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 65px 30px 30px;
  border-radius: 12px;
  @media (max-width: $tablet) {
    padding: 45px 20px 20px;
  }
  @media (max-width: $mobile) {
    padding: 20px 15px 20px;
  }
  @media (max-width: 360px) {
    padding: 50px 20px 20px;
  }
  &__img {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 186px;
      max-height: 209px;
      width: 100%;
      height: 100%;
      @media (max-width: $mobile) {
        max-width: 91.245px;
        max-height: 102.367px;
      }
      @media (max-width: 320px) {
        max-width: 171.17px;
        max-height: 191.192px;
      }
    }
  }
  &__type {
    flex: 1;
    margin-top: 51px;
    color: #6b5ebb;
    font-family: 'OpenSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: 12px;
      margin-top: 17px;
    }
    @media (max-width: 360px) {
      margin-top: 40px;
    }
  }
  &__name {
    margin-top: 14px;
    font-family: 'Effra';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: $tablet) {
      font-size: 17px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
      margin-top: 10px;
    }
    @media (max-width: 360px) {
      margin-top: 10px;
    }
  }
  &__price {
    margin-top: 16px;
    font-family: 'OpenSans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: 16px;
    }
    @media (max-width: 360px) {
      margin-top: 15px;
    }
  }
}
