.catalogue-sidebar {
  padding-top: 30px;
  padding-bottom: 80px;
  max-width: 217px;
  width: 100%;
  @media (max-width: 850px) {
    display: none;
  }
  &__menu {
    &-item {
      text-align: left;
      display: block;
      width: max-content;
      font-family: 'Effra';
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 200px;
      background: none;
      &:not(:first-child) {
        margin-top: 44.5px;
      }
      &:not(.catalogue-sidebar__menu-item_active, .catalogue-sidebar__menu-item_warn) {
        &:hover,
        &:focus {
          color: #8172dd;
          cursor: pointer;
          font-weight: 700;
          transform: translate(-1%);
        }
        &:active {
          color: #473c92;
        }
      }

      &_active {
        font-family: 'Effra';
        font-size: 22px;
        font-style: normal;
        color: #ff7d4e;
      }
      &_warn {
        color: #d32d2c;
        background: none;
        &:hover,
        &:focus {
          color: #ff5a59;
          cursor: pointer;
          font-weight: 700;
        }
        &:active {
          color: #850404;
        }
      }
    }
  }
}
