.slider-section {
  width: 100%;
  &__swiper-container {
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  &__swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    .banner__container {
      opacity: 0;
    }
  }

  .left-button,
  .right-button {
    max-width: 90px;
    max-height: 90px;
    width: 100%;
    position: absolute;
    height: fit-content;
    top: 47%;
    z-index: 2;
    transform: translate(0, -25%);
    use {
      min-width: 70px;
      min-height: 70px;
    }
  }
  .left-button {
    left: 11.2%;
  }
  .right-button {
    right: 11.2%;
  }

  .circle {
    fill: #ffca78;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    right: 450px;
  }
  .one-fourth-circle {
    stroke-width: 40px;
    stroke: #f6906e;
    transform: rotate(270deg);
    position: absolute;
    bottom: 0;
    right: 800px;
    width: 130px;
    height: 130px;
  }
}




