@import './../UI/custom-link-block.scss';

.sign-footer {
  text-align: center;
  &__container {
    .custom-link-block {
      padding-top: 40px;
      padding-bottom: 40px;
      @media (max-width: $mobile) {
        border-top: 1px solid $light_shade_0f_gray;
      }
    }
  }
}
