@import './sign.scss';
@import './../UI/social-button.scss';
@import './../sign/social-block.scss';
@import './../UI/text-with-lines.scss';

.sign-section {
  &__button {
    max-width: 270px;
    max-height: 65px;
  }
  .social-block{
    .text-with-lines-block{
      margin-bottom: 40px;
    }
  }
}
