.profile {
  &-sidebar {
    padding-top: 62px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
  }
  &__main {
    flex: 1;
    text-align: start;
    max-width: 1045px;
    padding-top: 50px;
    margin-left: 40px;
    @media (max-width: 850px) {
        margin-left: 0;
    }
  }
  &__content {
    padding-top: 40px;
    padding-bottom: 100px;
    margin-left: 5px;
    @media (max-width: $mobile) {
      padding-top: 30px;
      padding-bottom: 60px;
      margin-left: 0;
    }
  }
  &__title-block {
    max-width: 925px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @media (max-width: 850px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    @media (max-width: 450px) {
        align-items: start;
    }
  }
  &__title {
    color: #000;
    font-family: 'Effra';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: 24px;
    }
  }
  &__type-customer {
    text-align: right;
    font-family: 'Effra';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
    @media (max-width: $mobile) {
      margin-left: 0;
      font-size: 18px;
      margin-top: 10px;
    }
  }
  &__content-button {
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'Effra';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 60px;
    border-radius: 100px;
    background: #c3bdb6;
    margin-top: 40px;
    @media (max-width: 850px) {
      max-width: 444px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: $mobile) {
      margin-top: 35px;
    }
  }
}
