.input-block {
  max-width: 444px;
  max-height: 56px;
  height: 56px;
  width: 100%;
  padding: 15px 24px;
  background-color: #faf8f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  &__input {
    flex: auto;
    color: #000;
    font-family: 'OpenSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
  }
  &__link {
    margin-left: 30px;
    color: rgba($color: #000000, $alpha: 0.5);
    text-align: center;
    font-family: 'OpenSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
