.input-block {
  max-width: 444px;

  &__label {
    max-height: 56px;
    height: 56px;
    width: 100%;
    padding: 15px 24px;
    background-color: $grayish_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    &:focus-within {
      outline: 1px solid $focus_color;
    }
  }
  &.file {
    .input-block__label {
      padding: 10px 10px 10px 24px;
    }
  }
  &__file-button {
    max-width: 104px;
    max-height: 36px;
    padding: 9px 30px;
    background: $main-orange;
    border-radius: 12px;
    color: $white;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
  }
  &__input {
    flex-grow: 1;
    width: 100%;
    color: $black;
    font-family: 'OpenSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    &[type='file'] {
      display: none;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $grayish_white inset; /* Встановлюємо білий колір фону */
    }
    &#fileName {
      color: $black;
      font-family: 'OpenSans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:placeholder-shown {
        font-size: 18px;
      }
    }
  }
  &__link {
    white-space: nowrap;
    margin-left: 30px;
    color: rgba($color: $black, $alpha: 0.5);
    text-align: center;
    font-family: 'OpenSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:focus {
      color: $focus_color;
    }
    @media (max-width: $mobile) {
      margin-left: 10px;
    }
  }
  &__error {
    .error {
      color: #ff7d4e;
      font-family: 'OpenSans';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
