.link-arrow {
  display: flex;
  height: fit-content;
  white-space: nowrap;
  align-items: center;
  margin-left: 33px;
  color: #f27e58;
  font-family: 'Effra';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  &__arrow {
    padding-top: 3px;
    margin-left: 5px;
    width: 14px;
    height: 20px;
    @media (max-width: $mobile) {
      width: 12px;
      height: 12px;
    }
    use {
      fill: #ff4405;
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    margin-left: 0;
    margin-top: 20px;
    font-size: 14px;
  }
}
