.social-button {
  padding: 20px 16px;
  max-width: 206px;
  max-height: 65px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: $grayish_white;
  &:focus {
    outline: 1px solid rgb(65, 65, 65);
  }
  @media (max-width: $mobile) {
    padding: 18px;
    max-height: 56px;
  }
  &__text {
    color: $black;
    font-family: 'Effra';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    flex: auto;
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
  &__icon {
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
  }
}
