.products-item-checkout {
  display: flex;
  align-items: center;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    min-height: 70px;
    background: #9085d3;
    border-radius: 8px;
    img {
      max-width: 49.132px;
      max-height: 55.449px;
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    margin-left: 20px;
    font-family: 'Effra';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: $mobile) {
      margin-bottom: 4px;
      font-size: 14px;
    }
  }
  &__price {
    margin-left: 30px;
    text-align: right;
    font-family: 'OpenSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-self: flex-end;
    flex: 1;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
    &.discount {
      display: flex;
      flex-direction: column;
      .price {
        color: rgba($color: $black, $alpha: 0.5);
        text-align: right;
        font-family: 'OpenSans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
        &::before {
          content: '$';
        }
        @media (max-width: $mobile) {
          font-size: 10px;
        }
      }
      .discount {
        margin-top: 2px;
        text-align: right;
        font-family: 'OpenSans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: red;
        &::before {
          content: '$';
        }
        @media (max-width: $mobile) {
          font-size: 14px;
        }
      }
    }
    &:not(.discount) {
      &::before {
        content: '$';
      }
    }
  }
}
