<div class="information-inputs-block">
  <div class="information-inputs-block__firstName">
    <label class="input-title" for="firstName">First Name</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'firstName', 'type':
    'text'} )
  </div>
  <div class="information-inputs-block__lastName">
    <label class="input-title" for="lastName">Last Name</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'lastName', 'type':
    'text'} )
  </div>
  <div class="information-inputs-block__addressLine1">
    <label class="input-title" for="addressLine1">Address Line 1</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'addressLine1',
    'type': 'text'} )
  </div>
  <div class="information-inputs-block__addressLine2">
    <label class="input-title" for="addressLine2">Address Line 2</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'addressLine2',
    'type': 'text'} )
  </div>
  <div class="information-inputs-block__city">
    <label class="input-title" for="city">City</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'city', 'type':
    'text'} )
  </div>
  <div class="information-inputs-block__mini-inputs-block">
    <div class="information-inputs-block__stateProvince">
      <label class="input-title" for="stateProvince">State / Province</label>
      @@include('./../UI/input-select.html',{'placeholder':'', 'id': 'stateProvince',
      'type': 'text'} )
    </div>
    <div class="information-inputs-block__zipPostalCode">
      <label class="input-title" for="zipPostalCode">ZIP / Postal Code</label>
      @@include('./../UI/input.html',{'placeholder':'', 'id': 'zipPostalCode',
      'type': 'text'} )
    </div>
  </div>
  <div class="information-inputs-block__email">
    <label class="input-title" for="email">Email</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'email', 'type':
    'text'} )
  </div>
  <div class="information-inputs-block__phoneNumber">
    <label class="input-title" for="phoneNumber">Phone Number</label>
    @@include('./../UI/input.html',{'placeholder':'', 'id': 'phoneNumber',
    'type': 'text'} )
  </div>
</div>
