<div class="product-pack-block">
    @@include('./product-box.html',{'type': 'Vitamins & Dietary Supplements', 'name': 'Ortho Molecular Products Orthomega 820', 'price': '$61.98', 'src': 'Ortho-Molecular-Products-Orthomega-820.png'})
    @@include('./product-box.html',{'type': 'Minerals', 'name': 'Ortho Molecular - Reacted Magnesium', 'price': '$61.98', 'src': 'Ortho-Molecular-Reacted-Magnesium.png'})
    @@include('./product-box.html',{'type': 'Vitamins & Dietary Supplements', 'name': 'Ortho Molecular Products Orthomega 820', 'price': '$61.98', 'src': 'Ortho-Molecular-Products-Orthomega-820.png'})
    @@include('./product-box.html',{'type': 'Vitamins & Dietary Supplements', 'name': 'Ortho Molecular Products - Reacted Selenium', 'price': '$61.98', 'src': 'Ortho-Molecular-Products-Reacted-Selenium.png'})
</div>