<div class="product-pack-block">
    @@include('./product-box.html',{'id': 'product-box-1', 'type': 'Vitamins & Dietary Supplements', 'name': 'Ortho Molecular Products Orthomega 820', 'price': '$61.98'})
    @@include('./product-box.html',{'id': 'product-box-2', 'type': 'Minerals', 'name': 'Ortho Molecular - Reacted Magnesium', 'price': '$61.98'})
    @@include('./product-box.html',{'id': 'product-box-3', 'type': 'Vitamins & Dietary Supplements', 'name': 'Ortho Molecular Products Orthomega 820', 'price': '$61.98'})
    @@include('./product-box.html',{'id': 'product-box-4', 'type': 'Vitamins & Dietary Supplements', 'name': 'Ortho Molecular Products - Reacted Selenium', 'price': '$61.98'})
</div>