<div class="what-users-say">
  <div class="what-users-say__swiper-container swiper-container">
    <div class="what-users-say__swiper-wrapper swiper-wrapper">
      <div class="what-users-say__swiper-slide swiper-slide customer-say-block">
        <div class="customer-say-block__review">
          <div class="customer-say-block__rate">
            <svg class="customer-say-block__rate-img">
              <use xlink:href="images/Sprite.svg#rate"></use>
            </svg>
          </div>
          <div class="customer-say-block__title">
            Easy monitoring your weight goal!
          </div>
          <p class="customer-say-block__description">
            Love Vitamins! The individual packets make it so easy to remember
            you daily vitamins and makes travelling easy!!! 👍🏽
          </p>
        </div>
        <div class="customer-say-block__user-block">
          <picture class="customer-say-block__user-block-img">
            <source srcset="images/david_s.avif" type="image/avif" />
            <source srcset="images/david_s.webp" type="image/webp" />
            <img src="images/david_s.png" alt="David S." />
          </picture>
          <p class="customer-say-block__user-block-name">David S.</p>
        </div>
      </div>
      <div class="what-users-say__swiper-slide swiper-slide customer-say-block">
        <div class="customer-say-block__review">
          <div class="customer-say-block__rate">
            <svg class="customer-say-block__rate-img">
              <use xlink:href="images/Sprite.svg#rate"></use>
            </svg>
          </div>
          <div class="customer-say-block__title">
            High quality vitamins & supplements
          </div>
          <p class="customer-say-block__description">
            High quality vitamins & supplements, very easy on my stomach too.
            Great service! I really like the flexibility and options available
            in the subscriptions.
          </p>
        </div>
        <div class="customer-say-block__user-block">
          <picture class="customer-say-block__user-block-img">
            <source srcset="images/bridget_t.avif" type="image/avif" />
            <source srcset="images/bridget_t.webp" type="image/webp" />
            <img src="images/bridget_t.png" alt="David S." />
          </picture>
          <p class="customer-say-block__user-block-name">Bridget T.</p>
        </div>
      </div>
      <div class="what-users-say__swiper-slide swiper-slide customer-say-block">
        <div class="customer-say-block__review">
          <div class="customer-say-block__rate">
            <svg class="customer-say-block__rate-img">
              <use xlink:href="images/Sprite.svg#rate"></use>
            </svg>
          </div>
          <div class="customer-say-block__title">I love it</div>
          <p class="customer-say-block__description">
            I love it. It makes me feel good each morning and then it also makes
            me feel accomplished.
          </p>
        </div>
        <div class="customer-say-block__user-block">
          <picture class="customer-say-block__user-block-img">
            <source srcset="images/jenna_y.avif" type="image/avif" />
            <source srcset="images/jenna_y.webp" type="image/webp" />
            <img src="images/jenna_y.png" alt="David S." />
          </picture>
          <p class="customer-say-block__user-block-name">Jenna Y.</p>
        </div>
      </div>
      <div class="what-users-say__swiper-slide swiper-slide customer-say-block">
        <div class="customer-say-block__review">
          <div class="customer-say-block__rate">
            <svg class="customer-say-block__rate-img">
              <use xlink:href="images/Sprite.svg#rate"></use>
            </svg>
          </div>
          <div class="customer-say-block__title">
            Easy monitoring your weight goal!
          </div>
          <p class="customer-say-block__description">
            Love Vitamins! The individual packets make it so easy to remember
            you daily vitamins and makes travelling easy!!! 👍🏽
          </p>
        </div>
        <div class="customer-say-block__user-block">
          <picture class="customer-say-block__user-block-img">
            <source srcset="images/david_s.avif" type="image/avif" />
            <source srcset="images/david_s.webp" type="image/webp" />
            <img src="images/david_s.png" alt="David S." />
          </picture>
          <p class="customer-say-block__user-block-name">David S.</p>
        </div>
      </div>
      <div class="what-users-say__swiper-slide swiper-slide customer-say-block">
        <div class="customer-say-block__review">
          <div class="customer-say-block__rate">
            <svg class="customer-say-block__rate-img">
              <use xlink:href="images/Sprite.svg#rate"></use>
            </svg>
          </div>
          <div class="customer-say-block__title">
            High quality vitamins & supplements
          </div>
          <p class="customer-say-block__description">
            High quality vitamins & supplements, very easy on my stomach too.
            Great service! I really like the flexibility and options available
            in the subscriptions.
          </p>
        </div>
        <div class="customer-say-block__user-block">
          <picture class="customer-say-block__user-block-img">
            <source srcset="images/bridget_t.avif" type="image/avif" />
            <source srcset="images/bridget_t.webp" type="image/webp" />
            <img src="images/bridget_t.png" alt="David S." />
          </picture>
          <p class="customer-say-block__user-block-name">Bridget T.</p>
        </div>
      </div>
      <div class="what-users-say__swiper-slide swiper-slide customer-say-block">
        <div class="customer-say-block__review">
          <div class="customer-say-block__rate">
            <svg class="customer-say-block__rate-img">
              <use xlink:href="images/Sprite.svg#rate"></use>
            </svg>
          </div>
          <div class="customer-say-block__title">I love it</div>
          <p class="customer-say-block__description">
            I love it. It makes me feel good each morning and then it also makes
            me feel accomplished.
          </p>
        </div>
        <div class="customer-say-block__user-block">
          <picture class="customer-say-block__user-block-img">
            <source srcset="images/jenna_y.avif" type="image/avif" />
            <source srcset="images/jenna_y.webp" type="image/webp" />
            <img src="images/jenna_y.png" alt="David S." />
          </picture>
          <p class="customer-say-block__user-block-name">Jenna Y.</p>
        </div>
      </div>
    </div>
  </div>
</div>
