@import './user-button.scss';
@import './iconMenu.scss';
@import './shop-menu.scss';
$black: #000000;
$main_orange: #ff7d4e;

.burger-menu {
  display: none;
  @media (max-width: 850px) {
    overflow: auto;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.5s ease;
    z-index: 2;
    &.burger-open{
      left: 0;
    }
    &__nav {
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.07);
    }
    &__header {
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.07);
      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 110px;
        @media (max-width: $mobile) {
          padding-top: 15px;
          padding-bottom: 15px;
          height: 70px;
        }
      }
    }
    &__nav-text-button {
      font-family: 'Effra';
      font-weight: 500;
      font-size: 20px;
      display: block;
      width: 100%;
      background: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:first-child) {
        margin-top: 30px;
      }
      .right-arrow {
        max-width: 9px;
        max-height: 15px;
      }
      &.take-quiz-button {
        color: $main_orange;
      }
    }
    &__footer {
      font-family: 'OpenSans';
      font-weight: 400;

      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__mailto-link {
      color: rgba($color: $black, $alpha: 0.5);
      font-size: 14px;
    }
    &__all-rights {
      margin-top: 15px;
      color: rgba($color: $black, $alpha: 0.3);
      font-size: 12px;
    }
  }
  .header__user-button {
    background: none;
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3px;
  }
  .burger-menu-button__icon{
    use{
      stroke: black;

    }
  }
  .user-button__icon{
    use{
      fill: black;
    }
  }
}

.header-background{
  .burger-menu-button__icon{
    use{
      stroke: black;
      fill: black;
    }
  }
  .user-button__icon{
    use{
      fill: black;
    }
  }
  .header__basket-button-img{
    fill: black;
  }
  
  .logo {
    .logoDefault {
      display: block!important;
    }
    .logoWhite {
      display: none!important;
    }
  }
}
