.burger-menu-button {
  @media (min-width: ($mobile + 0.1px)) {
    display: none;
  }
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon {
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    fill: black;
    stroke: black;
    use {
      width: 100%;
      height: 100%;
      fill: black;
      stroke: black;
    }
  }
}
