.sub-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $whiteColor;
  overflow-y: auto;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
  &:not(.open) {
    transform: translate(100%);
  }
  &.open {
    transform: translate(0%);
  }
  &__back-button {
    width: 32px;
    height: 32px;
    background: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .back-arrow {
      max-width: 11px;
      max-height: 18.88px;
      width: 100%;
      height: 100%;
      use.back-arrow-use {
        fill: black;
        transition: opacity 0.3s ease-in-out;
      }
    }
    &:hover {
      use.back-arrow-use {
        transition: opacity 0.3s ease-in-out;
        opacity: 0.4;
      }
    }
  }
  &__header {
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.07);
    &-inner {
      height: 70px;
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &-title {
      padding-left: 32px;
      padding-right: 32px;
      color: #000;
      text-align: center;
      font-family: Effra;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      flex-grow: 1;
    }
  }
  &__nav {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    &-button {
      color: $black;
      font-family: Effra;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        transition: opacity 0.3s ease-in-out;
        opacity: 0.4;
      }
      &:not(:first-child) {
        margin-top: 30px;
      }
      &_focus {
        color: red;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba($color: $black, $alpha: 0.07);
    &-title {
      max-width: 400px;
      color: $black;
      text-align: center;
      font-family: 'Effra';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-description {
      padding-left: 12px;
      padding-right: 12px;
      max-width: 400px;
      margin-top: 15px;
      color: $black;
      text-align: center;
      font-family: 'Open Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }
    &-button {
      width: 100%;
      margin-top: 25px;
    }
  }
}
