.quiz-header {
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1770px;
  }
  .logo {
    &-img {
      width: 42px;
      height: 50px;
    }
    &:not(.white) {
      display: none;
      @media (max-width: $tablet) {
        display: block;
      }
    }
    &.white {
      fill: $whiteColor;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
  &__quiz-number {
    font-family: 'OpenSans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }
}
