$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1436;
$containerWidth: 1396;

$mainOffset: 15;
$mainFont: 'OpenSans';
$mainWeight: 400;

$headerHeight: 100;
$footerHeight: 100;

$mainRadius: rem(10);

$tablet: 960px;
$mobile: 600px;

$whiteColor: #fff;
$blackColor: #131313;
$grayColor: #6f6f6f;
$redColor: #ff4040;

$white: #fff;
$black: #000;
$main_orange: #ff7d4e;
$grayish_white: #faf8f6;
$focus_color: $grayColor;
$disabled_color: #c3bdb6;
$light_shade_0f_gray: #f2f2f2;

$firstAccentColor: #4027e2;
$secondAccentColor: $redColor;

$fontFamily: $mainFont, sans-serif;
$fontColor: $blackColor;
$fontSize: 16;
$fontWeight: $mainWeight;

$standartTrans: all 280ms ease-in-out 0ms;

$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);
