@import './style.scss';
@import './components/404-section.scss';

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
}