@import './style.scss';
@import './components/UI/link-arrow.scss';
@import './components/home/find-vitamins-section.scss';
@import './components/home/easy-healthy-section.scss';
@import './components/home/tell-us-section.scss';
@import './components/home/get-started-section.scss';
@import './components/happy-customers-section.scss';
@import './components/home/choose-products-section.scss';

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

