@import './style.scss';
@import './components/personal-pack-section.scss';

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.page {
  padding-top: 70px;
  padding-bottom: 100px;
  .personal-pack-setion {
    margin-top: 85px;
  }
  @media (max-width: $mobile) {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
.footer {
  &__inner {
    @media (max-width: $mobile) {
      border-top: 1px solid rgba($color: $black, $alpha: 0.07);
    }
  }
}
