@import './style.scss';
@import './components/profile/profile.scss';
@import './components/profile/profile-sidebar.scss';
@import './components/UI/input.scss';

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.change-password-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
    @media (max-width: $mobile) {
        row-gap: 26px;
    }
    .input-title {
    color: rgba($color: $black, $alpha: 0.5);
    font-family: 'OpenSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
    @media (max-width: $mobile) {
        margin-left: 0;
    }
  }
  .input-block{
    margin-top: 5px;
    max-width: 444px;
  }
}