@import './style.scss';
@import './components/sign/sign-header.scss';
@import './components/sign/sign-in-section.scss';
@import './components/sign/sign-footer.scss';
@import './components/UI/input.scss';

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url('../fonts/Effra_Std_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  background-color: $grayish_white;
  @media (max-width: $mobile) {
    background-color: $white;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s; /* Застосовуємо перехід для анімації стилів */
}

.wrapper {
  background-color: #faf8f6;
  @media (max-width: $mobile) {
    background-color: $white;
  }
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-section {
    flex: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
